.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.form label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}